<h1>Editing album</h1>
<div class="help-links">
  <%= link_to(raw('<i class="icon-backward"></i> Show all'), albums_path) %>
  <%= link_to(raw('<i class="icon-eye-open"></i> Show'), @album) %>
</div>

<%= render 'form' %>


  <b>Photos: </b>
  <div id="photos-container">
    <%= render :partial => "photos/photo", :collection => @album.photos.order("id ASC").limit(15) %>
  </div>

<%=  render :partial => "application/shared/more", :locals => {:path => get_album_photos_path(@album,{last_id: @album.photos.order("id ASC").limit(15).last.id, format: :json} ), :load_to=> "#photos-container"}   %>


