<h1>Editing album</h1>
<div class="help-links">
  <%= link_to(raw('<i class="icon-backward"></i> Show all'), albums_path) %>
  <%= link_to(raw('<i class="icon-eye-open"></i> Show'), @album) %>
</div>

<%= render 'form' %>

<h2>New photo</h2>
<%= render :partial => "photos/form", :locals => {album: @album, photo: @album.photos.new }  %>

  <b>Photos: </b>
  <div id="photos-container">
    <%= render :partial => "photos/photo", :collection => @photos %>
  </div>
<% if !@photos.empty? %>
    <%=  render :partial => "application/shared/more", :locals => {:path => get_album_photos_path(@album,{last_id: @photos.last.id, format: :json} ), :load_to => "#photos-container"}   %>
<% end %>

