<%  if !@album.photos.empty? %>
    <% photo = @album.photos.first %>
    <div class="gallery-container">
      <div class="image">
         <%= image_tag(photo.image(:medium)) %>
      <div class="prev nav disabled" style="display: none;"><</div>
      <div class="next nav <%= 'disabled' if @album.photos.count < 2 %>" style="display: none;"> > </div>
        <div class="description"><%= photo.description %></div>
      </div>
      <div class="buttons">
        <div class="btn-group">
          <%= link_to raw('<i class="icon-backward"></i> first'), get_album_photo_path(@album, photo, :which => "first",:format => :json), :class => "btn navigation prev disabled" %>
          <%= link_to raw('<i class="icon-chevron-left"></i> prev'), get_album_photo_path(@album, photo, :which => "prev",:format => :json), :class => "btn navigation prev exactly-prev disabled" %>
          <%= link_to raw('<i class="icon-random"></i> random'), get_album_photo_path(@album, photo, :which => "random",:format => :json), :class => "btn navigation random #{'disabled' if @album.photos.count < 2}" %>
          <%= link_to raw('<i class="icon-chevron-right"></i> next'), get_album_photo_path(@album, photo, :which => "next",:format => :json), :class => "btn navigation next exactly-next #{'disabled' if @album.photos.count < 2}" %>
          <%= link_to raw('<i class="icon-forward"></i> last'), get_album_photo_path(@album, photo, :which => "last",:format => :json), :class => "btn navigation next #{'disabled' if @album.photos.count < 2}" %>
        </div>
      </div>
    </div>
<% end %>


