<%= simple_form_for(@photo, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description, :input_html => {rows: 5, :class=> 'span5'}  %>
    <%= f.association :album %>
    <%= f.input :image, :as => :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
